{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <h1>Muffins de Ovo e Manjericão</h1>
    <br>
    <h4>Pré-aqueça o forno a 180ºC.</h4>
    <h4>Lave  as  curgetes e corte-as  ao  meio.</h4>
    <h4>Retire  o  interior  com  uma  colher  de  sobremesa, com  muito cuidado para não furar a casca, e reserve.</h4>
    <h4>Numa frigideira coloque um fio de azeite.</h4>
    <h4>Junte o alho e a cebola picados.</h4>
    <h4>Deixe cozinhar até a cebola ficar translúcida.</h4>
    <h4>Junte o frango assado desfiado e tempere com sal, pimenta e orégãos.</h4>
    <h4>Acrescente a polpa de tomate e envolva.</h4>
    <h4>Adicione o interior da curgete e deixe cozinhar.</h4>
    <h4>Forre um tabuleiro de ir ao forno com uma folha de papel vegetal e coloque sobre ela as metades de curgete. </h4>
    <h4>Recheie-as com o preparado de frango e curgete e leve ao forno durante 20 minutos.</h4>
    <h4>Quando estiver pronto, retire do forno e polvilhe com o queijo parmesão ralado e orégãos.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>2 Curgetes </li>
        <li>200g Frango Assado</li>
        <li>1 Cebola picada</li>
        <li>1 Dente de Alho picado</li>
        <li>4 C. Sopa de Polpa de Tomate </li>
        <li>Queijo Parmesão qb</li>
        <li>Sal qb</li>
        <li>Pimenta qb</li>
        <li>Orégãos qb</li>
        <li>Azeite qb</li>
    </ul>
</div>

{% endblock %}
