{% extends 'layout.html' %}
{% block conteudo %}

<h2>Descrição</h2>
<h4>Corte 1 pimento em cubos.</h4>
<h4>Junte 1 chávena de milho bem escorrido e acrescente as folhas frescas de 1 molho de manjericão picado grosseiramente.</h4>
<h4>Misture tudo e reserve.</h4>
<h4>Retire a pele e a cartilagem a 100g de bacon e corte-o em tirinhas.</h4>
<h4>Depois rale ½ chávena de queijo chedar.</h4>
<h4>Pincele as formas com azeite e distribua todos os ingredientes.</h4>
<h4>Bata 8 ovos grandes. Tempere-os com sal e pimenta e verta sobre cada forma.</h4>
<h4>Acrescente alguns pinhões.</h4>
<h4>Leve ao forno por 20 min. a 180º ou se preferir ao micro-ondas cerca de 1 min. a 800watts.</h4>

<h2>Ingredientes</h2>

{% endblock %}
