{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/entradas/entradas_carne/mom.jpg" alt="Avatar" class="image" style="width:50%">
    <h1>Muffins de Ovo e Manjericão</h1>
    <br>
    <h4>Corte 1 pimento em cubos.</h4>
    <h4>Junte 1 chávena de milho bem escorrido e acrescente as folhas frescas de 1 molho de manjericão picado grosseiramente.</h4>
    <h4>Misture tudo e reserve.</h4>
    <h4>Retire a pele e a cartilagem a 100g de bacon e corte-o em tirinhas.</h4>
    <h4>Depois rale ½ chávena de queijo chedar.</h4>
    <h4>Pincele as formas com azeite e distribua todos os ingredientes.</h4>
    <h4>Bata 8 ovos grandes. Tempere-os com sal e pimenta e verta sobre cada forma.</h4>
    <h4>Acrescente alguns pinhões.</h4>
    <h4>Leve ao forno por 20 min. a 180º ou se preferir ao micro-ondas cerca de 1 min. a 800watts.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>1 Pimento Vermelho</li>
        <li>1 Cháv. de milho</li>
        <li>1 Molho de Manjericão</li>
        <li>100 g Bacon fatiado</li>
        <li>½ Cháv. de queijo cheddar</li>
        <li>8 Ovos Grandes</li>
        <li>Sal qb</li>
        <li>Pimenta qb</li>
        <li>1/3 Cháv. de pinhões</li>
        <li>Azeite qb</li>
    </ul>
</div>

{% endblock %}
