{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/entradas/entradas_vegetais/bgb.jpg" alt="Avatar" class="image" style="width:100%">
    <h1>Bolinhas de Grão e Bacalhau</h1>
    <br>
    <h4>Coloque o bacalhau, o grão, o ovo, a cebola picada, o alho, os coentros picadose a farinha de espelta num liquidificador.</h4>
    <h4>Tempere com sal e pimenta e misture tudo.</h4>
    <h4>Unte uma travessa com azeite e pré-aqueça o forno a 180ºC.</h4>
    <h4>Com  as  mãos,  molde bolinhas  e  coloque-as  na  travessa.</h4>
    <h4>Leve-as  ao  forno  durante  30  minutos  até estarem douradas.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>150g Bacalhau Cozido</li>
        <li>150g Grão-de-bico Cozido</li>
        <li>1 Cebola Picada</li>
        <li>2 Dentes de Alho</li>
        <li>Coentros qb</li>
        <li>1 Ovo</li>
        <li>5 C. Sopa Farinha de Espelta</li>
        <li>Sal qb</li>
        <li>Pimenta qb</li>
        <li>Azeite qb</li>
    </ul>
</div>

{% endblock %}
