{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/entradas/entradas_vegetais/fvg.jpg" alt="Avatar" class="image" style="width:100%">
    <h1>Fajitas de vegetais com guacamole</h1>
    <br>
    <h4>Pré-aqueça o forno a 200 ° C.</h4>
    <h4>Lave as courgettes, corte longitudinalmente em fatias e corte as fatias em tiras.</h4>
    <h4>Corte os pimentos ao meio, retire as sementes e corte em tiras.</h4>
    <h4>Corte os grãos de milho da espiga e lave-os.</h4>
    <h4>Descasque e pique a cebola e o alho.</h4>
    <h4>Numa frigideira, aqueça um pouco de óleo e frite a cebola e o alho.</h4>
    <h4>Frite as tiras de courgette e pimento em lume alto durante cerca de 3 minutos até ficarem macias.</h4>
    <h4>Adicionar os grãos de milho e frite por mais 5 minutos. Adicione o feijão.</h4>
    <h4>Tempere com pimenta moída, cominho e molho Tabasco. Forre um tabuleiro com papel vegetal.</h4>
    <h4>Espalhe a mistura de vegetais sobre as tortilhas e coloque-as na bandeja com o lado da emenda para baixo.</h4>
    <h4>Polvilhe com o queijo e coloque no forno cerca de 5 minutos até que o queijo derreta.</h4>
    <h4>Retire a casca e o caroço do abacate e esmage numa tigela.</h4>
    <h4>Lave os tomates e corte em cubos. </h4>
    <h4>Corte o limão ao meio e esprema-o. Junte o tomate picado e sumo de 1 limão com o abacate.</h4>
    <h4>Tempere com sal e pimenta e sirva as natas separadamente. Enfeite com coentros e uma fatia de limão</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>2 Curgetes</li>
        <li>2 Pimentões Vermelhos</li>
        <li>400 gr Feijão</li>
        <li>1 Cebola Vermelha</li>
        <li>1 dente Alho</li>
        <li>2 espigas Milho</li>
        <li>Molho Tabasco</li>
        <li>Cominhos</li>
        <li>4 a 8 Tortilhas</li>
        <li>100 gr Queijo Maduro</li>
        <li>2 Abacates Maduros</li>
        <li>1 Tomate</li>
        <li>Azeite</li>
        <li>1 Lima</li>
        <li>125 ml Natas</li>
        <li>Coentros</li>
        <li>Sal</li>
        <li>Pimenta Moída</li>
    </ul>
</div>

{% endblock %}
