{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/entradas/entradas_vegetais/pv.jpg" alt="Avatar" class="image" style="width:50%">
    <h1>Panquecas de Vegetais</h1>
    <br>
    <h4>Rale uma chávena de courgette e pressione para perder a água.</h4>
    <h4>Faça o mesmo com meia chávena de beterraba e rale também uma chávena de cenoura.</h4>
    <h4>Corte a couve roxa em fatias finas até perfazer outra meia chávena. Junte tudo numa taça.</h4>
    <h4>Acrescente 2 pés de cebolo, meio molho de hortelã e meio molho de coentros todos picados.</h4>
    <h4>Junte também 1 colher de chá de cominhos, pimenta branca e sal.  Acrescente 2 ovos.</h4>
    <h4>¼ a meia chávena de farinha de trigo integral e misture.</h4>
    <h4>Coloque uma frigideira ao lume com um pouco de azeite.</h4>
    <h4>Forme as suas panquecas e leve-as a cozinhar.</h4>
    <h4>Quando estiverem prontas a virar junte sementes de sésamo e retire o excesso de gordura colocando sobre papel absorvente.</h4>
    <h4>Sirva com molho de iogurte grego juntando algumas gotas de limão, azeite, 1 pitada de sal e outra de pimenta. Finalize com raspas de limão.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>1 Chávena de Courgette ralada</li>
        <li>½ Chávena de beterraba ralada</li>
        <li>1 Chávena de cenoura ralada</li>
        <li>½ Chávena de couve roxa picada</li>
        <li>2 Pés de Cebolo</li>
        <li>½ Molho de coentros</li>
        <li>½ Molho de hortelã</li>
        <li>2 C. de chá de cominhos</li>
        <li>Sal q.b</li>
        <li>Pimenta branca q.b</li>
        <li>2 Ovos</li>
        <li>¼ a ½ Chávena de farinha de trigo integral</li>
        <li>Sementes de sésamo q.b</li>
        <li>Azeite q.b</li>
        <li>1 Iogurte Grego</li>
        <li>Limão q.b</li>
        <li>Pimenta q.b</li>
    </ul>
</div>

{% endblock %}
