{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <h1>Salada de Feijão Branco e Salsa</h1>
    <br>
    <h4>Comece por tostar 1/2 chávena de avelãs e 1/4 de chávena de sementes de girassol.</h4>
    <h4>Enquanto isso escorra, passe por água corrente e volte a escorrer bem 800 g de feijão branco cozido.</h4>
    <h4>Junte 1/2 cebola roxa cortada em fatias finas.</h4>
    <h4>Corte os talos de um molho de salsa e pique as folhas.</h4>
    <h4>Adicione 2/3 ao feijão e o restante coloque no almofariz para fazer um piso, ao qual vai acrescentar ½ colher de chá de sal, pimenta e um fio de azeite.</h4>
    <h4>Esmague bem até virar uma pasta.</h4>
    <h4>Acrescente mais 3 ou 4 colheres de sopa azeite, 2 colheres de sopa de vinagre e um pouco de sumo de limão.</h4>
    <h4>Pique as avelãs já tostadas e arrefecidas e junte-as à taça do feijão e salsa.</h4>
    <h4>Misture tudo e está na hora de servir.</h4>
    <h4>Primeiro faça uma cama de rúcula. Deite por cima a salada de feijão e sobre elas as avelãs e sementes de girassol.</h4>
    <h4>Termine com raspas de limão.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>800 g Feijão Branco</li>
        <li>¼ Cháv. de sementes de girassol</li>
        <li>½ Cháv. de avelãs</li>
        <li>½ Cebola roxa</li>
        <li>1 Molho de Salsa</li>
        <li>½ C.de chá de sal</li>
        <li>Pimenta preta qb</li>
        <li>4 c. de sopa de azeite</li>
        <li>2 c. de sopa de vinagre</li>
        <li>½ limão</li>
        <li>Rúcula qb</li>
    </ul>
</div>

{% endblock %}
