{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/entradas/entradas_vegetais/wa.jpg" alt="Avatar" class="image" style="width:100%">
    <h1>Wrap de Alface</h1>
    <br>
    <h4>Comece por preparar a maionese.</h4>
    <h4>Numa tigela ou copo misturador, bata, com a ajuda de uma varinha mágica, as gemas com uma pitada de sal e pimenta, o sumo de limão, a mostarda, o dente de alho e um fio de azeite.</h4>
    <h4>Adicione aos poucos e em fio, o azeite até ficar bem emulsionado.</h4>
    <h4>Retifique os temperos. Reserve.</h4>
    <h4>Escolha as folhas de alface maiores e mais inteiras. Lave muito bem e seque cuidadosamente com um pano ou papel de cozinha. Reserve.</h4>
    <h4>Descasque e corte o abacaxi em cubos pequenos.</h4>
    <h4>Corte o rabanete em rodelas e cenoura em tiras finas.</h4>
    <h4>Retire os talos grossos da couve roxa e corte-a em tiras muito fininhas.</h4>
    <h4>Sobreponha 2 folhas de alface, barre com uma camada de maionese de mostarda, coloque uma camada de cubos de ananás, algumas rodelas de rabanete e as tiras de cenoura e de couve roxa.</h4>
    <h4>Disponha, por fim, o salmão fumado e hortelã picada.</h4>
    <h4>nrole as folhas de alface cuidadosamente de modo a obter a forma do wrap.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>8 Folhas de Alface</li>
        <li>1 Rabanete</li>
        <li>4 Rodelas de Abacaxi</li>
        <li>¼ Couve Roxa</li>
        <li>1 Cenoura</li>
        <li>150g Salmão Fumado</li>
        <li>2 Gemas</li>
        <li>1 C. Sopa de Sumo de Limão</li>
        <li>1 C. de Café de Mostarda</li>
        <li>1 Dente de Alho</li>
        <li>Hortelã q.b.</li>
        <li>Sal q.b.</li>
        <li>Pimenta q.b.</li>
        <li>Azeite q.b.</li>
    </ul>
</div>

{% endblock %}
