{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <h1>Cozido à Portuguesa</h1>
    <br>
    <h4>Numa panela com água temperada com pouco sal, azeite e louro, coza o frango e a carne vaca cortados em pedaços e o chouriço.</h4>
    <h4>Ao fim de 25 minutos, adicione os legumes cortados grosseiramente, os dois dentes de alho e um ramo de hortelã.</h4>
    <h4>Retifique os temperos e deixe cozinhar por mais 15 minutos.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>2 Peitos de Frango</li>
        <li>150g de Carne de Vaca</li>
        <li>½ Chouriço</li>
        <li>1 Couve Lombarda</li>
        <li>2 Cenouras</li>
        <li>2 Batatas</li>
        <li>2 Dentes de Alho</li>
        <li>2 Nabos</li>
        <li>2 Folhas de Louro</li>
        <li>Hortelã q.b.</li>
        <li>Sal q.b.</li>
        <li>Pimenta q.b.</li>
        <li>Azeite q.b.</li>
    </ul>
</div>

{% endblock %}
