{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/prato_principal/prato_principal_carne/fcb.jpg" alt="Avatar" class="image" style="width:100%">
    <h1>Frango de Churrasco à Brás</h1>
    <br>
    <h4>Corte 100 g de bacon em tirinhas e leve a fritar. Quando estiver tostado deite sobre um prato com papel absorvente.</h4>
    <h4>Entretanto corte 2 cebolas em fatias e o alho francês arranjado e lavado em tiras. Leve os dois a refogar na frigideira onde fritou o bacon.</h4>
    <h4>Junte um pouco de azeite, uma folha de louro, um dente de alho esmagado, sem pele e uma pitada de sal.</h4>
    <h4>Enquanto isso desfie o frango assado e depois acrescente ao refogado.</h4>
    <h4>Adicione também meio molho de salsa picado.</h4>
    <h4>Junte metade do bacon, envolva cerca de 150 g de batata palha e tire a folha de louro.</h4>
    <h4>Numa taça coloque 3 ovos inteiros e mais 2 gemas. Tempere com sal e pimenta e bata.</h4>
    <h4>Já fora do lume junte os ovos à frigideira envolvendo bem.</h4>
    <h4>Acrescente o resto da batata e volte a envolver.</h4>
    <h4>Sirva polvilhando com o restante bacon frito, azeitonas pretas e salsa picada.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>100 g Bacon em Fatias</li>
        <li>2 Cebolas</li>
        <li>1 Alho Francês</li>
        <li>Q.b Azeite</li>
        <li>1 folha de Louro</li>
        <li>1 Dente de Alho</li>
        <li>Q.b. Sal</li>
        <li>1/2 Frango de Churrasco</li>
        <li>1/2 Molho de salsa fresca</li>
        <li>200 g batata frita palha </li>
        <li>3 ovos M/L</li>
        <li>2 Gemas</li>
        <li>Q.b Pimenta preta</li>
        <li>Q.b Azeitonas pretas</li>
    </ul>
</div>

{% endblock %}
