{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/sobremesas/sobremesas_chocolate/bacb.jpg" alt="Avatar" class="image" style="width:100%">
    <h1>Bolachas de Aveia, Chocolate e Banana</h1>
    <br>
    <h4>Nas melhores lancheiras nunca podem faltar umas deliciosas bolachas.</h4>
    <h4>Comece por misturar flocos de aveia e farinha, juntando fermento e bicarbonato de sódio.</h4>
    <h4>Depois de envolver tudo reserve, e noutra taça combine margarina com açúcar fino, batendo até obter uma mistura fofa.</h4>
    <h4>Acrescente açúcar mascavado e volte a bater, antes de adicionar o chocolate em pó e o ovo.</h4>
    <h4>Junte agora a mistura seca ao preparado de chocolate e envolva bem.</h4>
    <h4>Por fim, seja generoso com os mais novos e coloque muitas pepitas de chocolate.</h4>
    <h4>Forre dois tabuleiros com papel vegetal e faça pequenas nozes de massa com a ajuda de duas colheres.</h4>
    <h4>Antes mesmo de levar ao forno, corte uma banana madura em rodelas, disponha-as por cima das bolachas e deixe agora cozer durante cerca de 12 minutos.</h4>
    <h4>No final, esconda as bolachas dos olhares da pequenada até arrefecerem o suficiente.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>1 chávena Flocos de Aveia</li>
        <li>1 chávena Farinha com Fermento</li>
        <li>1 c. café Bicarbonato de Sódio</li>
        <li>130 gr Margarina</li>
        <li>0.5 chávena Açucar Fino</li>
        <li>1 chávena Açucar Mascavado</li>
        <li>1 c. sopa Chocolate em Pó</li>
        <li>1 Ovo Tamanho L</li>
        <li>0.5 chávena Pepitas de Chocolate</li>
        <li>1 Banana Madura</li>
    </ul>
</div>

{% endblock %}
