{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/sobremesas/sobremesas_chocolate/bbd.jpg" alt="Avatar" class="image" style="width:100%">
    <h1>Brownie de Batata Doce</h1>
    <br>
    <h4>Pré-aqueça o forno a 180ºC.</h4>
    <h4>Num processador de alimentos, junte a batata-doce esmagada, a farinha de amêndoa, o cacau em pó, o óleo de coco, o ovo e o mel.</h4>
    <h4>Bata levemente, adicionando de seguida extrato de baunilha, bicarbonato de sódio e uma pitada de sal.</h4>
    <h4>Triture até obter uma massa homogénea. Por fim, adicione as nozes e bata ligeiramente para que não fiquem demasiado trituradas.</h4>
    <h4>Despeje a massa sobre uma forma forrada com uma folha de papel vegetal humedecida. Leve ao forno por 30 minutos.</h4>
    <h4>Retire do forno e deixe arrefecer antes de cortar.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>1 ½ Chávena de Batata-doce cozida</li>
        <li>½ Chávena de Farinha de Amêndoa</li>
        <li>½ Chávena de Cacau Magro</li>
        <li> 1 Ovo</li>
        <li>½ Chávena de Óleo de Coco</li>
        <li> ¼ Chávena de Mel</li>
        <li>Extrato de Baunilha q.b.</li>
        <li>Bicarbonato de Sódio q.b.</li>
        <li>Sal q.b.</li>
        <li>½ Chávena de Nozes Pecam</li>
    </ul>
</div>

{% endblock %}
