{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/sobremesas/sobremesas_chocolate/pmc.jpg" alt="Avatar" class="image" style="width:50%">
    <h1>Panquecas com Molho de Chocolate</h1>
    <br>
    <h4>Misture numa taça 150g de farinha, 30g de açúcar, 2g de sal, 8g de fermento, 1g de bicarbonato de sódio e raspa de 1 limão.</h4>
    <h4>Verta 230g de leite meio-gordo, mexendo sempre.</h4>
    <h4>Adicione 2 ovos, 40g de manteiga sem sal e misture bem.</h4>
    <h4>Leve ao frigorífico a descansar no mínimo 2h.</h4>
    <h4>Numa frigideira frite pequenas porções da massa em manteiga.</h4>
    <h4>Leve ao lume um tacho com 150g de leite meio-gordo e 100g de natas (com 35% de gordura).</h4>
    <h4>Junte esta mistura quente a 200g de chocolate negro (55% de cacau) derretido e triture com a varinha mágica.</h4>
    <h4>Sirva as panquecas com o molho de chocolate.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <h3>Massa de Panquecas</h3>
    <ul>
        <li>150g Farinha</li>
        <li>8g Fermento em pó</li>
        <li>1g Bicarbonato de sódio</li>
        <li>2g Sal fino</li>
        <li>30g Açúcar</li>
        <li>1un Raspa de limão</li>
        <li>230g Leite meio-gordo</li>
        <li>2un Ovos S</li>
        <li>40g Manteiga sem sal derretida</li>
        <li>Manteiga para untar a frigideira q.b.</li>
        <li>Framboesas frescas q.b.</li>
    </ul>
    <h3>Molho de Chocolate</h3>
    <ul>
        <li>150g Leite meio-gordo</li>
        <li>100g Natas 35%</li>
        <li>200g de pepitas de Chocolate negro</li>
    </ul>
</div>

{% endblock %}
