{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/sobremesas/sobremesas_chocolate/sf.jpg" alt="Avatar" class="image" style="width:100%">
    <h1>Strudel Festivo</h1>
    <br>
    <h4>Pré-aqueça o forno a 180º / posição 4 nos fornos a gás.</h4>
    <h4>Estenda 6 folhas de massa filó sob um pano limpo, sobrepondo-as com cerca de 3 centímetros entre si, de modo a cobrirem a totalidade do pano.</h4>
    <h4>A massa deve cobrir o pano por completo, apenas com um pequeno rebordo numa das extremidades mãos pequenas.</h4>
    <h4>Trabalhe depressa para a massa não secar e pincele-a com manteiga derretida em toda a superfície.</h4>
    <h4>Polvilhe com a canela e 50g de açúcar e esmigalhe as nozes de gengibre para que fiquem estaladiços.</h4>
    <h4>Com cuidado, disponha as restantes folhas de massa por cima e pincele novamente com manteiga derretida.</h4>
    <h4>Com as mãos, desfaça o pudim de Natal para um recipiente e junte as frutas, com os caroços. Tem de ter a mesma quantidade de fruta e de pudim.</h4>
    <h4>Adicione cerca de 2 colheres de sopa de açúcar e mexa bem até desfazer o pudim um pouco mais.</h4>
    <h4>Espalhe o preparado sobre a massa, deixando as extremidades livres.</h4>
    <h4>Disponha o chocolate numa linha ao longo do pudim de Natal, no lado mais curto, junto à aba deixada na extremidade.</h4>
    <h4>Dobre a aba sobre o chocolate e belisque. Em seguida, levante o pano e use-o para enrolar o strudel com cuidado.</h4>
    <h4>Pressione as extremidades para fechar o strudel e coloque-o num tabuleiro antiaderente.</h4>
    <h4>Pincele-o com manteiga derretida e polvilhe com um pouco mais de açúcar.</h4>
    <h4>Deixe cozer no forno durante cerca de 40 min ou até estar dourado, estaladiço e com um ar apetitoso.</h4>
    <h4>Envolva o strudel numa folha de massa filó extra antes de cozer se quiser que tenha um aspeto mais apresentável.</h4>
    <h4>Depois de pronto, deixe arrefecer e use uma faca de serrilha para cortar o strudel em fatias com cerca de 5 centímetros.</h4>
    <h4>Polvilhe-as com açúcar em pó e sirva com creme custard fresco.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>12 Folhas (250 gr) Massa Filo</li>
        <li>125 gr (derretida) Manteiga</li>
        <li>1 C. de chá Canela em Pó</li>
        <li>100 gr Açúcar Amarelo</li>
        <li>4 Nozes Gengibre</li>
        <li>400 gr Christmas Pudding</li>
        <li>3 ou peras ou 2 marmelos ou uma mistura dos três frutos Maçãs</li>
        <li>50 gr (partido em pedaços) Chocolate 70% Cacau</li>
        <li>Polvilhar Açúcar em Pó</li>
        <li>Custard (para servir) Creme de Ovos</li>
    </ul>
</div>

{% endblock %}
