{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/sobremesas/sobremesas_chocolate/tcb.jpg" alt="Avatar" class="image" style="width:50%">
    <h1>Trufas de Chocolate Belga (sem glúten)</h1>
    <br>
    <h4>Na batedeira, misture 100g de manteiga à temperatura ambiente com 20g de açúcar em pó.</h4>
    <h4>Derreta 150g de chocolate de leite no microondas a 800w durante 1m30 (mexendo a cada 30 segundos).</h4>
    <h4>Adicione ao preparado anterior. Verta 15g de licor e continue a misturar.</h4>
    <h4>Com um saco de pasteleiro, disponha bolas de creme num tabuleiro forrado a papel vegetal e leve ao frigorífico durante 30 minutos para solidificar.</h4>
    <h4>Passe as trufas por 300g de chocolate negro derretido e, de seguida, por 200g de cacau em pó.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>100g Manteiga sem sal, à temperatura ambiente e em cubos</li>
        <li>20g Açúcar em pó</li>
        <li>150g de pepitas Chocolate de leite</li>
        <li>15g Licor</li>
        <li>300g de pepitas de chocolate Negro (55% de cacau) derretido</li>
        <li>200g Cacau em pó</li>
    </ul>
</div>

{% endblock %}
