{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/sobremesas/sobremesas_queijo/brv.jpg" alt="Avatar" class="image" style="width:100%">
    <h1>Bolo Red Velvet</h1>
    <br>
    <h4>Comece por pincelar uma forma com margarina líquida. Depois disso, junte numa taça 2 chávenas e meia de farinha de trigo sem fermento peneirada, 1 colher de sopa de cacau em pó e 2 pitadas de sal fino, e envolva tudo.</h4>
    <h4>De seguida, junte 120 gramas de margarina líquida na taça da batedeira e 1 chávena e meia de açúcar fino e bata. Adicione depois 2 ovos, volte a bater, acrescente 1 colher de chá de extracto de baunilha e 2 colheres de chá de corante vermelho, e misture mais uma vez.</h4>
    <h4>Depois disso, junte a farinha e o buttermilk de forma intercalada, enquanto bate.</h4>
    <h4>Com a mistura pronta, dissolva 1 colher de chá de bicarbonato de sódio numa colher de sopa de vinagre, e envolva na massa, antes de deitar na forma e levar ao forno durante 45 minutos.</h4>
    <h4>Passado esse tempo, retire o bolo do forno para arrefecer, e prepare a cobertura. Bata 200 mililitros de natas em chantilly e reserve. Bata também 200 gr de queijo creme e 200 gramas de queijo mascarpone com 1 chávena de açúcar de confeiteiro e 1 colher de chá de extracto de baunilha.</h4>
    <h4>Envolva depois as natas no queijo, cubra o bolo com o creme, e finalize este bolo de veludo vermelho com framboesas e hortelã.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <h3>Bolo Red Velvet</h3>
    <ul>
        <li>2.5 chávenas Farinha de Trigo sem Fermento Peneirada</li>
        <li>1 c. sopa Cacau em Pó</li>
        <li>qb Sal Fino</li>
        <li>120 gr Margarina à Temperatura Ambiente</li>
        <li>0.5 chávena Açucar Fino</li>
        <li>2 Ovos L</li>
        <li>1 c. chá Extrato de Baunilha</li>
        <li>2 c. chá Corante Vermelho em Gel</li>
        <li>1 chávena Buttermilk</li>
        <li>1 c. chá Bicarbonato de Sódio</li>
        <li>1 c. sopa Vinagre</li>
    </ul>
    <h3>Recheio/Cobertura</h3>
    <ul>
        <li>200 ml Natas Batidas em Chantilly</li>
        <li>200 gr Queijo Creme</li>
        <li>200 gr Queijo Mascarpone</li>
        <li>1 c. chá Extrato de Baunilha</li>
        <li>1 chávena Açúcar de Confeiteiro Peneirado</li>
        <li>250 gr Framboesas</li>
        <li>qb Sumo de Limão</li>
        <li>qb Hortelã</li>
        <li>qb Açúcar</li>
    </ul>
</div>

{% endblock %}
