{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <h1>Cheesecake de Cereja</h1>
    <br>
    <h4>Celebre o melhor do Verão com um delicioso cheesecake com calda de cerejas.</h4>
    <h4>Pique bolachas digestivas no processador, junte a manteiga e amasse tudo.</h4>
    <h4>Forre uma forma de bolo com esta base de bolacha e leve ao frio enquanto prepara o recheio.</h4>
    <h4>Agora, coloque queijo creme numa taça e leve ao microondas 3 folhas de gelatina hidratadas e misturadas com sumo de limão.</h4>
    <h4>Deixe dissolver durante cerca de 10 segundos, mexa e reserve.</h4>
    <h4>De volta à taça, junte açúcar e essência de baunilha, bata tudo e acrescente depois a gelatina dissolvida. Envolva bem e reserve.</h4>
    <h4>Concentre-se agora nas natas, batendo-as lentamente até começarem a armar.</h4>
    <h4>Nessa altura, aromatize com umas gotas de sumo de limão, adoce com açúcar fino, e continue a bater.</h4>
    <h4>Quando estiverem prontas, junte as natas ao preparado de queijo e envolva-os na perfeição.</h4>
    <h4>Retire agora a forma do frigorífico e preencha-a com este recheio, nivelando para que fique uniforme.</h4>
    <h4>Leve de novo ao frio e prepare finalmente a cobertura de cerejas levando ao lume açúcar, cerejas descaroçadas, sumo de limão e um pau de canela.</h4>
    <h4>Mexa bem, deixe caramelizar e arrefecer antes de cobrir o cheesecake.</h4>
    <h4>Na altura certa, retire-o do frigorífico, desenforme, e deixe-o tomar o gosto maravilhoso desta calda feita em homenagem às cerejas do Fundão.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <h3>Base</h3>
    <ul>
        <li>150 gr Bolachas Digestivas</li>
        <li>2 colheres Manteiga Amolecida</li>
    </ul>
    <h3>Recheio</h3>
    <ul>
        <li>300 gr Queijo Creme</li>
        <li>3 folhas Gelatina Hidratadas</li>
        <li>1 c. sopa Sumo de Limão</li>
        <li>4 c. sopa Açúcar</li>
        <li>1 c. chá Essência de Baunilha</li>
        <li>200 ml Natas</li>
    </ul>
</div>

{% endblock %}
