{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <h1>Panna Cotta de Alfazema e Figos</h1>
    <br>
    <h4>Comece por hidratar 4 folhas de gelatina em água.</h4>
    <h4>De seguida, misture as natas e o leite, leve ao lume num tacho com açúcar, e vá mexendo até ferver.</h4>
    <h4>Nessa altura, acrescente o aroma inesperado da alfazema e volte a mexer.</h4>
    <h4>Quando as natas começarem a ficar cozidas, baixe o lume e coloque um pouco deste preparado na taça da gelatina, para ajudar a dissolver.</h4>
    <h4>Leve ao microondas durante 10 segundos e junte tudo às natas.</h4>
    <h4>Retire o tacho do lume e passe as natas por uma peneira, antes de as verter para ramequins individuais e levar ao frigorífico.</h4>
    <h4>Por fim, faça um molho triturando os figos com a varinha mágica, juntamente com um cálice de vinho do Porto e açúcar.</h4>
    <h4>Leve ao lume até ferver e formar uma calda espessa.</h4>
    <h4>Na altura de comer, mergulhe os ramequins numa taça com água quente para ajudar a desenformar, e sirva com a calda de figos.</h4>
    <h4>Na altura de comer, mergulhe os ramequins numa taça com água quente para ajudar a desenformar, e sirva com a calda de figos.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <h3>Panna Cotta</h3>
    <ul>
        <li>250 ml Natas</li>
        <li>50 ml Leite</li>
        <li>4 Folhas de Gelatina</li>
        <li>4 c. sopa Açúcar</li>
        <li>1 c. sopa Alfazema</li>
    </ul>
    <h3>Molho</h3>
    <ul>
        <li>4 Figos Maduros</li>
        <li>1 Cálice de Vinho do Porto Tinto</li>
        <li>2 c. sopa Açúcar</li>
    </ul>
</div>

{% endblock %}
