{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/sobremesas/sobremesas_queijo/t.jpg" alt="Avatar" class="image" style="width:50%">
    <h1>Tiramisú</h1>
    <br>
    <h4>Prepare um delicioso tiramisú começando por colocar 2 ovos pequenos numa taça.</h4>
    <h4>Junte 5 colheres de açúcar e bata energicamente, enquanto acrescenta 1 colher de sopa de brandy.</h4>
    <h4>Quando obtiver um creme esbranquiçado e fofo, adicione 250 gramas de queijo mascarpone e envolva tudo suavemente.</h4>
    <h4>Noutra taça, misture 2 colheres de sopa de café solúvel com 3 colheres de sopa de brandy e 1 chávena de água quente.</h4>
    <h4>Mergulhe palitos de la reine no café, disponha-os num prato, cubra com o creme e polvilhe com cacau.</h4>
    <h4>Termine o seu tiramisú repetindo o processo ao fazer uma segunda camada, e leve-o à mesa de imediato ou depois de uma passagem pelo frigorífico.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>2 Ovos</li>
        <li>5 c. sopa Açúcar</li>
        <li>2 c. sopa Café Solúvel</li>
        <li>3 c. sopa Brandy</li>
        <li>250 gr Queijo Mascarpone</li>
        <li>10 Palitos de La Reine</li>
        <li>qb Cacau em Pó</li>
    </ul>
</div>

{% endblock %}
