{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/prato_principal/prato_principal_peixe/beca.jpg" alt="Avatar" class="image" style="width:100%">
    <h1>Bife de Espadarte com Cebolada Agridoce</h1>
    <br>
    <h4>Escove bem a casca de fora de 300g de batata doce, corte em rodelas e leve a cozer em água temperada de sal.</h4>
    <h4>Aproveite e tempere também os bifes de espadarte com sal, pimenta preta e sumo de limão. Reserve.</h4>
    <h4>Entretanto faça a cebolada. Corte 3 cebolas em fatias e leve a refogar.</h4>
    <h4>Tempere com sal e assim que estiver translúcida junte meia malagueta sem sementes cortada em tiras.</h4>
    <h4>Acrescente 4 colheres de sopa de vinagre, a mesma quantidade em mel e misture.</h4>
    <h4>Junte depois uma colher de sopa de pimenta rosa e deixe cozinhar até a cebola estar no ponto.</h4>
    <h4>Nesse momento chegou a altura de fazer os bifes, enxugue-os com papel absorvente.</h4>
    <h4>Coloque azeite sobre eles e leve a grelhar numa chapa de ambos os lados sem cozinhar demasiado.</h4>
    <h4>Sirva o espadarte com batata cozida e a cebolada por cima.</h4>
    <h4>Polvilhe com folhas frescas de poejo e delicie-se com este prato tão simples e bom!</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>300 g Batata Doce</li>
        <li>2 Bifes de espadarte frescos</li>
        <li>1 Limão</li>
        <li>Sal qb</li>
        <li>Pimenta qb</li>
        <li>3 Cebolas</li>
        <li>Azeite qb</li>
        <li>½ Malagueta</li>
        <li>1 C. de sopa de pimenta rosa</li>
        <li>4 c. de sopa de vinagre</li>
        <li>4 c. de sopa de mel</li>
        <li>Folhas de poejo qb</li>
    </ul>
</div>

{% endblock %}
