{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <h1>Nome</h1>
    <br>
    <h4>Descasque as batatas, a cebola e os dentes de alho.</h4>
    <h4>Corte às rodelas as batatas, a cebola, os tomates, o pimento e o alho francês.</h4>
    <h4>Lamine o alho. Deite um fio de azeite num tacho e faça camadas com metade dos ingredientes.</h4>
    <h4>Comece por dispor a cebola e depois o alho, o pimento, o alho francês, o tomate e, por fim, a batata-doce.</h4>
    <h4>Adicione uma folha de louro e tempere com sal e pimenta.</h4>
    <h4>Junte os lombos de tamboril cortados em pedaços e volte a repetir todas as camadas de legumes até terminar os ingredientes.</h4>
    <h4>Acrescente um ramo de salsa e tempere com sal e pimenta.</h4>
    <h4>Adicione um fio de azeite, regue com ovinho branco e junte o molho de tomate e a água.</h4>
    <h4>Tape e deixe cozinhar em lume brando durante 20 minutos.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>4 Lombos de Tamboril</li>
        <li>2 Batata-doce</li>
        <li>2 Tomates</li>
        <li>1 Cebola</li>
        <li>2 Dentes de alho</li>
        <li>½ Pimento Verde</li>
        <li>100ml de Vinho Branco</li>
        <li>50ml de Molho de Tomate</li>
        <li>50ml de Água</li>
        <li>Azeite q.b.</li>
        <li>1 Folha de Louro</li>
        <li>Salsa q.b.</li>
        <li>Sal q.b.</li>
        <li>Pimenta q.b.</li>
    </ul>
</div>

{% endblock %}
