{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <h1>Ceviche de Salmão</h1>
    <br>
    <h4>Numa tigela, junte o sumo de uma lima, a cebola, o gengibre e coentros picados e a malagueta em rodelas.</h4>
    <h4>Acrescente o salmão sem pele, sem espinhas e cortado em cubos e envolva bem no preparado.</h4>
    <h4>Tempere com sal e pimenta e deixe a marinar pelo menos 15 minutos. Sirva fresco.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>2 Lombos de Salmão</li>
        <li>Sumo de 1 Lima</li>
        <li>¼ Cebola Roxa</li>
        <li>½ Malagueta</li>
        <li>Gengibre q.b.</li>
        <li>Coentros q.b.</li>
        <li>Sal q.b.</li>
        <li>Pimenta q.b.</li>
    </ul>
</div>

{% endblock %}
