{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/prato_principal/prato_principal_batatas/esbdb.jpg" alt="Avatar" class="image" style="width:50%">
    <h1>Empadão de Salmão, Batata Doce e Beterraba</h1>
    <br>
    <h4>Descasque e rale 2 batatas doce laranjas e 2 beterrabas.</h4>
    <h4>Disponha em separado sobre papel prata e leve ao forno pré-aquecido nos 180º por 30 minutos.</h4>
    <h4>Depois de assados, triture os seus legumes. Primeiro a batata-doce!</h4>
    <h4>Coloque no processador com 1 colher de iogurte natural e 1 pitada de erva-doce. Processe e reserve numa taça.</h4>
    <h4>A seguir triture a beterraba juntamente com 1 colher de iogurte e reserve noutra taça.</h4>
    <h4>Por ultimo trate do salmão: leve a fritar numa frigideira anti-aderente, até estar bem cozinhado de todos os lados.</h4>
    <h4>Regue com sumo de ½ limão e polvilhe com raminhos de funcho.</h4>
    <h4>Quando estiver no ponto, separe em lascas e sirva.</h4>
    <h4>Unte um aro com azeite, coloque sobre um prato. Na base ponha o puré de batata doce, depois puré de beterraba e por cima o salmão.</h4>
    <h4>Retire o aro e enfeite com mais funcho.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>1 beterraba grande</li>
        <li>1 batata doce laranja bem grande</li>
        <li>1 pitada de erva doce moída</li>
        <li>1 Iogurte Natural</li>
        <li>1 cubo de salmão com cerca de 50 gr</li>
        <li>Limão</li>
        <li>Rama de funcho</li>
    </ul>
</div>

{% endblock %}
