{% extends 'layout.html' %}
{% block conteudo %}

<h2>Prato Principal - Peixe</h2>
<br>

<div class="column">
  <div class="container">
    <img src="/static/prato_principal/prato_principal_peixe/beca.jpg" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
      <div class="recipe"><a href="prato_principal_peixe/beca">Bife de Espadarte com Cebolada Agridoce</a></div>
    </div>
  </div>
</div>

<div class="column">
  <div class="container">
    <img src="/static/prato_principal/prato_principal_peixe/cp.jpg" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
      <div class="recipe"><a href="prato_principal_peixe/cp_peixe">Caldeirada de Peixe</a></div>
    </div>
  </div>
</div>

<div class="column">
  <div class="container">
    <img src="/static/prato_principal/prato_principal_peixe/cs.jpg" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
      <div class="recipe"><a href="prato_principal_peixe/cs">Ceviche de Salmão</a></div>
    </div>
  </div>
</div>

<br><br>


{% endblock %}
