{% extends 'layout.html' %}
{% block conteudo %}

<h2>Prato Principal - Massa</h2>
<br>

<div class="column">
  <div class="container">
    <img src="/static/prato_principal/prato_principal_massa/emt.jpg" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
      <div class="recipe"><a href="prato_principal_massa/emt">Esparguete com Molho de Tomate</a></div>
    </div>
  </div>
</div>

<div class="column">
  <div class="container">
    <img src="/static/prato_principal/prato_principal_massa/ppts.jpg" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
      <div class="recipe"><a href="prato_principal_massa/ppts">Penne com Pesto de Tomate Seco</a></div>
    </div>
  </div>
</div>

<br><br>


{% endblock %}
