{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/prato_principal/prato_principal_massa/emt.jpg" alt="Avatar" class="image" style="width:50%">
    <h1>Esparguete com Molho de Tomate</h1>
    <br>
    <h4>Comece por fazer o molho de tomate, suando as chalotas e o alho picados, num tacho com azeite e louro.</h4>
    <h4>De seguida junte o tomate cortado em cubos.</h4>
    <h4>Tempere com uma pitada de sal e deixe a refogar.</h4>
    <h4>Coza o esparguete em água abundante com um pouco de sal.</h4>
    <h4>Quando estiver quase cozido escorra-o e verta-o sobre o molho de tomate para que termine a cozedura.</h4>
    <h4>Rale o queijo parmesão sobre o esparguete e o molho.</h4>
    <h4>Adicione azeite... e misture tudo.</h4>
    <h4>Sirva o esparguete guarnecido com algumas folhas de manjericão.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>600 g Esparguete</li>
        <li>5 Tomates Coração de Boi</li>
        <li>1 Cabeça de Alho</li>
        <li>3 Chalotas</li>
        <li>3 Folhas de Louro</li>
        <li>200 g Queijo Parmesão</li>
        <li>1 Molho de Manjericão</li>
        <li>Azeite</li>
        <li>Sal</li>
    </ul>
</div>

{% endblock %}
