{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/prato_principal/prato_principal_massa/ppts.jpg" alt="Avatar" class="image" style="width:100%">
    <h1>Penne com Pesto de Tomate Seco</h1>
    <br>
    <h4>Comece por cozer o penne.</h4>
    <h4>Verta para um frasco o tomate seco previamente hidratado em azeite, os pinhões... o alho cru... e o queijo da ilha.</h4>
    <h4>Depois triture tudo.</h4>
    <h4>Escorra a massa praticamente cozida depois volte a colocar ao lume com o molho pesto de tomate seco e queijo.</h4>
    <h4>Deixe só aquecer ligeiramente.</h4>
    <h4>Verta o penne e o molho para um prato e guarneça com as folhas de manjericão.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>500 g Penne Integral</li>
        <li>50 g Tomate Seco (ao sol)</li>
        <li>300 ml Azeite Extra Virgem</li>
        <li>3 dentes de Alho</li>
        <li>50 g Pinhões</li>
        <li>100 g Queijo da Ilha (envelhecido)</li>
        <li>1 Molho de Manjericão</li>
    </ul>
</div>

{% endblock %}
