{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/prato_principal/prato_principal_marisco/lspmml.jpg" alt="Avatar" class="image" style="width:100%">
    <h1>Lingueirão com Salada de Pepino e Molho de Mel e Limão</h1>
    <br>
    <h4>Comece por demolhar o lingueirão em água e vinagre, durante cerca de 30 minutos.</h4>
    <h4>Depois de escorrido, leve-o a fritar com azeite.</h4>
    <h4>Enquanto isso corte rodelas de pepino. Opte por escolher os mais verdes e esguios para esta receita. Disponha as rodelas num prato.</h4>
    <h4>Tempere o pepino com uma mistura de mel, limão e azeite.</h4>
    <h4>Quando o lingueirão abrir significa que está pronto e pode dispô-lo por cima do pepino.</h4>
    <h4>Regue com um pouco mais do molho de mel, limão e azeite.</h4>
    <h4>Adicione alho cru a gosto e algumas flores de coentros.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>1 kg Lingueirão Grande</li>
        <li>200 g Mel</li>
        <li>2 Limões</li>
        <li>2 Pepinos</li>
        <li>Flores de Coentros</li>
        <li>Azeite</li>
        <li>Vinagre de Vinho Branco</li>
        <li>4 dentes de Alho</li>
    </ul>
</div>

{% endblock %}
