{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/prato_principal/prato_principal_marisco/pa.jpg" alt="Avatar" class="image" style="width:50%">
    <h1>Poejada de Amêijoas</h1>
    <br>
    <h4>Esmague num almofariz, meio molho de poejos picados grosseiramente, com 6 dentes de alho esmagados e 1 colher de sopa de sal até virar uma pasta.</h4>
    <h4>Junte azeite e misture.</h4>
    <h4>Aqueça azeite e frite ligeiramente a pasta, sem deixar os alhos queimarem.</h4>
    <h4>Junte 1 copo de vinho branco e deixe fervilhar para perder o álcool.</h4>
    <h4>Junte 500gr amêijoas escorridas e cozinhe por 3-4 minutos até abrirem.</h4>
    <h4>Enquanto isso, aqueça água, à parte, e adicione 5-6 conchas para fazer um caldo.</h4>
    <h4>Aguarde levantar fervura e aproveite para deslaçar 1 ovo no almofariz.</h4>
    <h4>Com a água a ferver, junte o ovo em fio e vá mexendo.</h4>
    <h4>Sirva com fatias finas de pão alentejano no fundo de um prato. Regue com um bom fio de azeite, um splash de vinagre, polvilhe com pimenta moída e salpique com folhas frescas de poejo!</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>1/2 molho de poejos frescos</li>
        <li>6 dentes de Alho</li>
        <li>1 C. sopa Sal</li>
        <li>Azeite</li>
        <li>1 Copo de Vinho Branco</li>
        <li>500 gr Amêijoa</li>
        <li>1 Ovo Grande</li>
        <li>Vinagre</li>
        <li>q.b. Água</li>
        <li>q.b. Fatias de Pão Alentejano</li>
    </ul>
</div>

{% endblock %}
