{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/sobremesas/sobremesas_caramelo/sbctcs.jpg" alt="Avatar" class="image" style="width:50%">
    <h1>Sablé Breton Crocante e Toffee de Caramelo Salgado</h1>
    <br>
    <h4>Bata 90g de manteiga com sal e 80g de açúcar. Adicione 120g de farinha, 6g de fermento em pó e 2 gemas. Bata até obter um creme homogéneo.</h4>
    <h4>Estique a massa na bancada enfarinhada. Coloque num tabuleiro forrado a papel vegetal e leve ao forno a 170º durante 10 minutos.</h4>
    <h4>Corte rectângulos da massa.</h4>
    <h4>Leve ao lume um tacho com 250g de açúcar e 75ml de água, até caramelizar.</h4>
    <h4>Noutro tacho aqueça 200g de natas, com 35% de gordura, e 75g de manteiga com sal.</h4>
    <h4>Adicione as natas ao caramelo aos poucos e misture.</h4>
    <h4>Coloque o caramelo em frascos, deixe arrefecer antes de tapar.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <h3>Caramelo Salgado</h3>
    <ul>
        <li>250g Açúcar</li>
        <li>75ml Água</li>
        <li>200g Natas, 35% gordura</li>
        <li>75g Manteiga com sal</li>
    </ul>
    <h3>Sablé Breton</h3>
    <ul>
        <li>90g Manteiga com sal, à temperatura ambiente em cubos</li>
        <li>80g Açúcar</li>
        <li>120g Farinha </li>
        <li>6g Fermento em pó</li>
        <li>2 gemas em taça</li>
    </ul>
</div>

{% endblock %}
