{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/entradas/entradas_marisco/cmc.jpg" alt="Avatar" class="image" style="width:100%">
    <h1>Camarões com Molho de Café</h1>
    <br>
    <h4>Comece por descascar e limpar o camarão.</h4>
    <h4>Para fazer um caldo, coloque as cascas e as cabeças ao lume com um pouco de sal e água.</h4>
    <h4>Enquanto isso, pique a cebola bem fininha, os dentes de alho e refogue ambos em bastante azeite.</h4>
    <h4>Aproveite, tempere o miolo de camarão com o sumo de lima e junte ao refogado.</h4>
    <h4>Tempere com pimenta, refresque um pouco de caldo de camarão e deixe reduzir.</h4>
    <h4>Depois acrescente o café, leite de coco, malagueta e tomilho bem picados envolva bem e sirva de imediato.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>30/40 Camarões</li>
        <li>Sal qb</li>
        <li>1 Cebola</li>
        <li>5 Dentes de alho</li>
        <li>Azeite qb</li>
        <li>1 Lima</li>
        <li>Pimenta</li>
        <li>40 ml Café</li>
        <li>Água qb</li>
        <li>2 c. sopa de leite de coco</li>
        <li>Tomilho</li>
        <li>1/2 malagueta vermelha</li>
    </ul>
</div>

{% endblock %}
