{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
     <img src="/static/entradas/entradas_marisco/sgffa.jpg" alt="Avatar" class="image" style="width:50%">
    <h1>Sapateira Grelhada com Flores de Funcho e Açorda</h1>
    <br>
    <h4>Escolha a sapateira com bastante cuidado, esta deverá estar viva no ato da compra e antes mesmo de a cozinhar.</h4>
    <h4>Leve-a a cozer a vapor numa primeira fase durante apenas alguns minutos.</h4>
    <h4>Com a sapateira ainda não cozida completamente remova a parte inferior que dá acesso ao interior da mesma.</h4>
    <h4>Retire a côdea ao pão e esfregue este com azeite, alho esmagado e coentros no almofariz.</h4>
    <h4>Recheie a sapateira com este pão tentando não desperdiçar nenhum  suco da sapateira.</h4>
    <h4>Acenda o grelhador e deixe que as chamas desapareçam antes de começar a grelhar a sapateira inteira com o pão virado para cima.</h4>
    <h4>Quando o pão amolecer completamente e ao mesmo tempo estiver seco vire a sapateira e deixe o pão caramelizar um pouco.</h4>
    <h4>Antes de servir separe as patas da sapateira e esmague a casca para ser de fácil acesso.</h4>
    <h4>Sirva com bastantes flores de funcho e gomos de limão.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>2 Sapateiras</li>
        <li>1 Pão Velho</li>
        <li>Flores de Funcho</li>
        <li>2 Limões</li>
        <li>20 g Sementes de Coentros</li>
        <li>6 dentes de Alho</li>
        <li>Azeite qb</li>
    </ul>
</div>

{% endblock %}
