{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/prato_principal/prato_principal_arroz/aff.jpg" alt="Avatar" class="image" style="width:50%">
    <h1>Arroz de Frango e Farinheira</h1>
    <br>
    <h4>Coza o frango, o chouriço e a farinheira numa panela com 2 litros de água temperada com sal, por 20-30 min.</h4>
    <h4>Desfie a carne, e reserve a farinheira, o chouriço e o caldo.</h4>
    <h4>Num tacho coloque um fio de azeite, junte uma cebola e refogue, acrescentando um pouco da gordura do caldo.</h4>
    <h4>Junte 2 chávenas de arroz vaporizado, deixe fritar ligeiramente e adicione 4 chávenas do caldo onde cozeu as carnes.</h4>
    <h4>A seguir acrescente a farinheira esfarelada.</h4>
    <h4>Mexa bem e deixe cozinhar em lume brando durante 15 – 20 min.</h4>
    <h4>Entretanto corte uma parte do chouriço em cubinhos, outra em rodelas.</h4>
    <h4>Com o arroz pronto, ligue o forno nos 200º em modo grill.</h4>
    <h4>Faça uma cama de arroz num tabuleiro, polvilhe com o frango desfiado e com o chouriço cortado em cubinhos.</h4>
    <h4>Coloque mais arroz e termine com umas rodelas de chouriço.</h4>
    <h4>Leve tudo ao forno até ganhar uma corzinha.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>2 chávenas de arroz vaporizado</li>
        <li>1 Farinheira</li>
        <li>1 Chouriço de Carne</li>
        <li>3 Peitos de Frango</li>
        <li>1 Cebola</li>
    </ul>
</div>

{% endblock %}
