{% extends 'layout.html' %}
{% block conteudo %}

<h2>Descrição</h2>
<h4>Comece por cortar linguiça, bacon e fiambre em pedaços pequenos, em quantidade equivalente a 1 chávena e meia.</h4>
<h4>Depois disso, aqueça o forno a 180ºC e unte uma forma de bolo inglês com manteiga e polvilhe com farinha. Bata 5 ovos, tempere com sal fino, junte meia chávena de azeite e 1 chávena de leite. Acrescente as carnes frias e o queijo ralado: Parmesão, gruyère e queijo de S. Jorge, e envolva tudo.</h4>
<h4>De seguida, pique tomate seco e adicione à mistura, juntamente com 1 chávena de farinha de trigo com fermento, mais 1 colher de chá de fermento, e 1 chávena de farinha de trigo integral.</h4>
<h4>Finalmente, verta a massa para a forma, e salpique com as carnes que sobraram, e leve ao forno durante 45 minutos.</h4>
<h4>Passado esse tempo, desenforme o bolo e deixe arrefecer ligeiramente, antes de saborear esta bela reunião de sobras.</h4>

<h2>Ingredientes</h2>

{% endblock %}
