<!DOCTYPE html>
<html lang="en">
<head>
  <title>Escola Secundária de Maximinos</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<!-- The navigation menu -->
<div class="navbar">
  <a href="/">Home</a>
  <div class="subnav">
    <button class="subnavbtn"><i class="fas fa-leaf"></i> Entradas <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="/entradas_carne">Carne</a>
      <a href="/entradas_marisco">Marisco</a>
      <a href="/entradas_vegetais">Vegetais</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn"><i class="fas fa-utensils"></i> Prato Principal <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#bring">Carne</a>
      <a href="#deliver">Peixe</a>
      <a href="#package">Marisco</a>
      <a href="#express">Arroz</a>
      <a href="#express">Massa</a>
      <a href="#express">Batatas</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn"><i class="fas fa-birthday-cake"></i> Doces e Sobremesas <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#link1">Chocolate</a>
      <a href="#link2">Caramelo</a>
      <a href="#link3">Fruta</a>
      <a href="#link4">Queijo</a>
    </div>
  </div>
  <div class="navbarr">
    <a href="/login"><i class="fas fa-unlock-alt"></i> Login</a>
    <a href="/registo"><i class="fas fa-user-alt"></i> Registar</a>
  </div>
</div>

{% block conteudo %}
{% endblock %}

<div class="footer">
  <p>&copy 2019 Diogo Fernandes</p>
</div>

</body>
</html>
