{% extends 'layout.html' %}
{% block conteudo %}

<h2>Entradas - Vegetais</h2>
<br>

<div class="column">
  <div class="container">
    <img src="/static/entradas/entradas_vegetais/bgb.jpg" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
      <div class="recipe"><a href="entradas_vegetais/bgb">Bolinhas de Grão e Bacalhau</a></div>
    </div>
  </div>
</div>

<div class="column">
  <div class="container">
    <img src="/static/entradas/entradas_vegetais/wa.jpg" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
      <div class="recipe"><a href="entradas_vegetais/wa">Wrap de Alface</a></div>
    </div>
  </div>
</div>

<div class="column">
  <div class="container">
    <img src="/static/entradas/entradas_vegetais/sfbs.jpg" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
      <div class="recipe"><a href="entradas_vegetais/sfbs">Salada de Feijão Branco e Salsa</a></div>
    </div>
  </div>
</div>

<div class="column">
  <div class="container">
    <img src="/static/entradas/entradas_vegetais/pv.jpg" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
      <div class="recipe"><a href="entradas_vegetais/pv">Panquecas de Vegetais</a></div>
    </div>
  </div>
</div>

<div class="column">
  <div class="container">
    <img src="/static/entradas/entradas_vegetais/fvg.jpg" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
      <div class="recipe"><a href="entradas_vegetais/fvg">Fagitas de Vegetais com Guacamole</a></div>
    </div>
  </div>
</div>

<br><br>


{% endblock %}
