{% extends 'layout.html' %}
{% block conteudo %}

<h2>Entradas - Carne</h2>
<br>

<div class="column">
  <div class="container">
    <img src="/static/entradas_carne/bcf.jpg" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
      <div class="recipe"><a href="entradas_carne/bcf">Bolo de Carnes Frias</a></div>
    </div>
  </div>
</div>

<div class="column">
  <div class="container">
    <img src="/static/entradas_carne/mom.jpg" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
      <div class="recipe"><a href="entradas_carne/mom">Muffins de Ovo e Manjericão</a></div>
    </div>
  </div>
</div>

<div class="column">
  <div class="container">
    <img src="/static/entradas_carne/cr.jpg" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
      <div class="recipe"><a href="entradas_carne/cr">Curgete Recheada</a></div>
    </div>
  </div>
</div>

<br><br>


{% endblock %}
