{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/sobremesas/sobremesas_fruta/fmm.jpg" alt="Avatar" class="image" style="width:50%">
    <h1>Farófias de Microondas com Morangada</h1>
    <br>
    <h4>Separe as claras das gemas de 3 ovos grandes.</h4>
    <h4>Coloque as claras numa taça, junte 1 pitadinha de sal e assim que começar a espumar vá adicionando 3 colheres de sopa de açúcar.</h4>
    <h4>Quando as claras estiverem firmes e já não sentir grãos de açúcar, o merengue está pronto a cozer.</h4>
    <h4>Distribua colheradas grandes por um tabuleiro resistente ao calor e leve ao microondas a 800 watts por cerca de 1 a 2 minutos.</h4>
    <h4>Para o creme de morango... corte 300 g de morangos lavados.</h4>
    <h4>Junte 1 colher de sopa de açúcar, sumo de meia lima, 3 colheres de sopa de natas gordas, extrato de baunilha e triture tudo até estar cremoso.</h4>
    <h4>Com as farófias cozidas regue com a morangada, decore com hortelã, raspa de lima e vai ver que vai ficar fã.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>3 Claras de ovo XL</li>
        <li>4 C. de Sopa de açúcar</li>
        <li>1 pitada de sal</li>
        <li>300 g Morangos</li>
        <li>3 C. de sopa de natas</li>
        <li>½ Lima</li>
        <li>Extrato de baunilha qb</li>
        <li>Hortelã qb</li>
    </ul>
</div>

{% endblock %}
