{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <h1>Limão e Mirtilos em Bolo e Mousse</h1>
    <br>
    <h4>Na batedeira bata 3 ovos, 200g de açúcar e uma pitada de sal.</h4>
    <h4>Adicione raspa de 1 limão a 90g de natas e acrescente ao preparado dos ovos. </h4>
    <h4>Junte ainda 175g de farinha e 12g de fermento peneirados.</h4>
    <h4>Tempere 60g de manteiga com um pouco do preparado e devolva à taça.</h4>
    <h4>Verta 30g de rum.</h4>
    <h4>Coloque a massa numa forma de 24 cm, de fundo amovível, untada com spray de óleo.</h4>
    <h4>Distribua 125g de mirtilos e leve ao forno a 170º durante 25 minutos.</h4>
    <h4>Num tacho ao lume aqueça 60g de sumo de limão.</h4>
    <h4>Junte 4 folhas de gelatina, previamente demolhadas em água e gelo.</h4>
    <h4>Misture bem e acrescente 60g de sumo de limão.</h4>
    <h4>Coloque um tacho ao lume com 25ml de água e 90g de açúcar.</h4>
    <h4>Bata 2 claras em castelo.</h4>
    <h4>Quando a calda atingir 123º verta-a em fio sobre as claras com a batedeira em movimento.</h4>
    <h4>Retire o merengue da batedeira e acrescente 120g de sumo de limão.</h4>
    <h4>Envolva 250g de natas batidas.</h4>
    <h4>Verta a mousse de limão sobre o bolo arrefecido e leve ao frigorífico pelo menos 1 hora.</h4>
    <h4>Desenforme e decore com mirtilos e açúcar em pó.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <h3>Bolo de Limão e Mirtilos</h3>
    <ul>
        <li>3un Ovos L</li>
        <li>200g Açúcar</li>
        <li>1 pitada de Sal</li>
        <li>90g Natas com 35% de gordura</li>
        <li>1un Raspa limão</li>
        <li>175g Farinha</li>
        <li>12g Fermento em pó</li>
        <li>60g Manteiga sem sal, derretida</li>
        <li>30g Rum escuro</li>
        <li>125g Mirtilos frescos</li>
    </ul>
    <h3>Mousse de Limão</h3>
    <ul>
        <li>120g Sumo limão</li>
        <li>4un Folhas gelatina demolhadas</li>
        <li>90g Açúcar</li>
        <li>25ml Água</li>
        <li>2 claras</li>
        <li>250g Natas 35% batidas</li>
        <li>70g Mirtilos frescos (Decoração)</li>
        <li>Açúcar em pó q.b.</li>
    </ul>
</div>

{% endblock %}
