{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/sobremesas/sobremesas_fruta/mmc.jpg" alt="Avatar" class="image" style="width:50%">
    <h1>Marshmallow de Maracujá e Cocô (sem glúten e sem lactose)</h1>
    <br>
    <h4>Faça uma calda, fervendo 100g de polpa de maracujá com 250g de açúcar.</h4>
    <h4>Quando a calda atingir 121º adicione 9 folhas de gelatina, previamente demolhadas em água fria.</h4>
    <h4>Bata 3 claras em castelo. Com a batedeira em movimento, verta a calda sobre as claras.</h4>
    <h4>Continue a bater. Coloque o preparado num saco de pasteleiro.</h4>
    <h4>Toste 200g de cocô ralado numa frigideira.</h4>
    <h4>Coloque 100g de cocô tostado num tabuleiro forrado a papel vegetal e untado com spray de óleo.</h4>
    <h4>Disponha tiras do preparado sobre o cocô.</h4>
    <h4>Coloque os restantes 100g de cocô tostado sobre as tiras.</h4>
    <h4>Leve ao frigorífico durante 30 minutos.</h4>
    <h4>Corte em pedaços e dê o formato que desejar.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <ul>
        <li>3 claras (de 1 ovo S)</li>
        <li>250g Açúcar</li>
        <li>100g Polpa de maracujá</li>
        <li>9un Folhas de gelatina</li>
        <li>200g cocô ralado</li>
    </ul>
</div>

{% endblock %}
