{% extends 'layout.html' %}
{% block conteudo %}

<div class="descricao">
    <img src="/static/sobremesas/sobremesas_fruta/pfvnvb.jpg" alt="Avatar" class="image" style="width:100%">
    <h1>Pavlova de Frutos Vermelhos, Nata e Vinagre Balsâmico (sem glúten)</h1>
    <br>
    <h4>Numa taça, em banho maria, bata 3 claras com 150g de açúcar até derreter e chegar aos 60º.</h4>
    <h4>Coloque o preparado na batedeira junte 15g de amido de milho e 5g de vinagre de vinho branco. Bata novamente.</h4>
    <h4>Coloque o merengue num molde, untado com óleo, dê forma e retire o molde.</h4>
    <h4>Leve ao forno num tabuleiro forrado a papel vegetal, a 120º durante 1h a 1h15.</h4>
    <h4>Para a redução, leve ao lume um tacho com 75g de vinagre balsâmico e 30g de mel de rosmaninho. Deixe reduzir.</h4>
    <h4>Bata 150g de natas, 30g de açúcar em pó e a raspa de 1 limão.</h4>
    <h4>Sobre o merengue já frio coloque 200g de frutos vermelhos, a redução de vinagre, açúcar em pó e folhas de hortelã.</h4>
</div>
<div class="ingredientes">
    <h1>Ingredientes</h1>
    <br>
    <h3>Merengue para a Pavlova</h3>
    <ul>
        <li>3 claras</li>
        <li>150g Açúcar</li>
        <li>15g Amido de milho</li>
        <li>5g Vinagre de vinho branco</li>
    </ul>
    <h3>Redução de Vinagre Balsâmico</h3>
    <ul>
        <li>75g Vinagre balsâmico</li>
        <li>30g Mel de rosmaninho</li>
    </ul>
    <h3>Cobertura para a Pavlova</h3>
    <ul>
        <li>150g Natas, 35% de gordura</li>
        <li>30g Açúcar em pó</li>
        <li>1 Raspa de limão</li>
        <li>Folhas de hortelã q.b.</li>
        <li>200g de Frutos vermelhos vários (decoração)</li>
    </ul>
</div>

{% endblock %}
